@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: fira sans;
}

/* shared css */
.btn {
  padding: 15px 30px;
  border-radius: 10px;
  border-color: #006a50;
  background-color: #006a50;
  font-weight: 600;
  color: white;
}
.btn:hover {
  background-color: #f30200;
  color: white;
}
.oe-color {
  color: #0e0e0e;
  opacity: 70%;
}

/* shared css */
nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
}
.nav-title {
  padding-top: 10px;
  font-size: 32px;
  font-weight: 700;
}
.banner {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 1280px;
  height: 560px;
  background-color: #c6e4d6;
  align-items: center;
  border-radius: 24px;
  margin: auto;
}
.banner-p {
  font-size: 24px;
  font-weight: 500;
}
.banner-heading {
  font-size: 56px;
  font-weight: 700;
}
.content {
  padding-top: 117px 0;
  max-width: 622px;
  margin: 0 auto;
}

main {
  max-width: 1280px;
  margin: 0 auto;
}
/* Vision Css */
.vision {
  padding: 80px 0;
}
.vision-title {
  font-size: 40px;
  font-weight: 700;
  opacity: 100%;
}
.vision-title-p {
  font-size: 16px;
  font-weight: 400;
  opacity: 80%;
  margin-top: 24px;
}
.sections {
  display: flex;
  margin-top: 32px;
  gap: 24px;
}
.section-title {
  font-size: 20px;
  font-weight: 700;
  opacity: 80%;
  margin-top: 24px;
}
.section-p {
  font-size: 16px;
  font-weight: 400;
  opacity: 70%;
  margin-top: 12px;
}
.section-button {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  background-color: #5490f5;
  margin-top: 24px;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
}
.section {
  background-color: #006a50;
  width: 410px;
  height: 325px;
  border-radius: 10px;
  padding: 32px 32px;
}
/* News css */
.news-title {
  font-size: 40px;
  font-weight: 700;
}
.news-p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 32px;
}
.launches {
  display: flex;
  margin: 48px;
  justify-content: space-around;
  text-align: justify;
  gap: 32px;
}
.logoimg {
  margin-top: 12px;
}

.launches-img {
  border-radius: 24px;
}
.description-title {
  font-size: 32px;
  font-weight: 700;
}
.description-time {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 400;
}

.description-p {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 400;
}
.description-button {
  margin-top: 40px;
}
.launches-2 {
  display: flex;
  margin: 48px;
  justify-content: flex-start;
  text-align: justify;
  gap: 32px;
  flex-direction: row-reverse;
}
